/*
COLOR PALETTE

Dark green    #3c8453
Sandy beige   #bcaa96
Dark gray     #222222
Light gray    #d3d4d6
Off-white     #f6f6f6
*/

/* GLOBAL STYLES
-----------------------*/
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
    font-size: 62.5%; /*default to ten px*/
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    background: #f6f6f6;  
    margin: 0;
    font-family: 'Open Sans', sans-serif; 
    font-size: 1.5rem;
    line-height: 1.4;   
}

h1, h2, h3 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 7rem;
    line-height: 0.85;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.4rem;
}

/*links*/
a{
  color: #3c8453;  
}

.btn {
    background: #3c8453;
    color: #f6f6f6;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    display:inline-block;
    padding: 7px;
    letter-spacing: .1em;
    line-height: 1;
    border-radius: 4px;

}

a:hover{
    color: #bcaa96;
    text-decoration: none;
}

.content-wrapper{
    margin: 0 auto;
    padding: 1.875em;
    max-width: 900px;
}

/* HOME
-----------------------*/
.home {
    background: url(../images/bg-home-office-studio.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.home .content-wrapper {
    flex: 1 0 auto;
}

.content-bg {
    background: rgb(255 255 255 / 0.9);
    padding: 1.875em;
}

@media screen and (max-width:650px){
    .home .content-wrapper {
        padding: 0.625em;
    }
    .content-bg {
        padding: 1.25em;
    }
}

/* RESUME
------------------------------------*/
.resume header::before {
    background: url(../images/bg-home-office-studio.jpg) center;
    background-size: cover;
    content: "";
    display: block;
    height: 375px;
}

.resume-section {
    margin-bottom:3.125em;
}

.resume-section h2 {
    border-bottom:0.125em dashed #d3d4d6;
}

.download-link {
    position: fixed;
    top: 0.3125em;
    left: 0.3125em;
    font-size: 1.5rem;
}

@media screen and (max-width:1200px) {
    .download-link {
        position: absolute;
    }
}

@media screen and (max-width:500px){
    .resume header::before {
        height: 12.5em;
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 2.6rem;
    }
}

/* Projects
-----------------------*/
.project-item {
    margin: 1.875em 0;
}

.project-item img {
    width:18.75em;
}

@media screen and (min-width:860px) {
    .project-item {
        display: flow-root;
    }
    .project-item img {
        float:left;
        margin-right: 1.25em;
    }
}

@media screen and (min-width:650px) and (max-width:859px) {
    .project-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.25em;
    }
    .project-item img {
        width: 100%;
    }
}

@media screen and (max-width:500px){
    .project-item img {
        width:100%;
        margin-bottom: 0.625em;
    }
}

/* Work Experience
----------------------*/
.work-item{
    margin: 1.875em 0;
}

.work-details p {
    margin: 0;
}

@media screen and (min-width:860px){
    .work-item{
        display: grid;
        grid-template-columns: 18.75em 1fr;
        column-gap: 1.25em;
    }
    .work-summary p:first-child {
        margin: 0;
    }
}

/* Education
----------------------*/
.education-item p {
    margin: 0;
}

.education-item {
    margin: 1.875em 0;
}

/* Certification and Skills
----------------------*/
.Certification-item p {
    margin: 0;
}

.certification-item {
    margin: 1.875em 0;
}

.certNskill-flex {
  display: flex;
  justify-content:space-between;
}



/* FOOTER
-----------------------*/
footer{
    background-color: #222;
    color: #d3d4d6;
}

footer a{
    color: #bcaa96;
}

footer a:hover{
    color: #3c8453;
}

.socials {
    list-style-type: none;
    padding: 0;
}

.socials li {
    display: inline-block;
    margin-left: 0.625em;
}

.socials img {
    width: 2em;
}

.socials img:hover {
    opacity: 0.5;
}

@media screen and (min-width:860px){
    footer {display: flex;
    justify-content: space-between;
    padding: 0 1.25em;
    }
}

@media screen and (max-width:859px){
    footer{
        text-align: center;
        padding: 0.625em;
    }
}